<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>GYM_MANG_JDBC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddParticipantServlet</display-name>
    <servlet-name>AddParticipantServlet</servlet-name>
    <servlet-class>com.project.gym.controller.AddParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddParticipantServlet</servlet-name>
    <url-pattern>/AddParticipantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBatchServlet</display-name>
    <servlet-name>AddBatchServlet</servlet-name>
    <servlet-class>com.project.gym.controller.AddBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBatchServlet</servlet-name>
    <url-pattern>/AddBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateParticipantServlet</display-name>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <servlet-class>com.project.gym.controller.UpdateParticipantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateParticipantServlet</servlet-name>
    <url-pattern>/UpdateParticipantServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBatchServlet</display-name>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <servlet-class>com.project.gym.controller.UpdateBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBatchServlet</servlet-name>
    <url-pattern>/UpdateBatchServlet</url-pattern>
  </servlet-mapping>
</web-app>